<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>

  <body>
  <script>
    
    function postLoadedScript( ) {
      $( '#search-form' ).on( 'submit', function ( e ) {
        e.preventDefault( );
        imageSearch( );
      } );
      imageSearch( );
    }
    
    function imageSearch( ) {
      var url = 'api/';
      var input = $('input[name="search-term"]');
      var searchTerm = ( input.val( ) == '' ) ? 'fish' : input.val( );
      var SearchReturn = '9';
  
      $.ajax({
        dataType: "json",
        url: url,
        data: { q: searchTerm, size: SearchReturn },
        success: function ( data ) {
          $( '#images' ).html( '' );
  
          var items = [ ];
  
          $.each( data, function( key, val ) {
            items.push( '<li class="col-lg-4 col-md-3 col-sm-12"> <img src=" ' + val.url + '" /><p class="user-id"> User ID: '+ val.id + '</p><a href="'+ val.url + '" class="btn btn-info">' + val.title + '</a></li>' );
          });
          
          $( "<ul>", {
            html: items
          }).appendTo( "#images" );
        }
      });
    }
  
    // Check for browser support, then post load the javascript
    if (window.addEventListener) window.addEventListener("load", postLoadedScript, false);
    else if (window.attachEvent) window.attachEvent("onload", postLoadedScript);
    else window.onload = postLoadedScript;

  </script>
      <div id="navbar" class="navbar navbar-default">
        <div class="container">
          <h2 class="pull-left">Danny's Flickr App</h2>
          <form class="navbar-form navbar-right" id="search-form" action="#">
            <div class="form-group">
              <input type="text" name="search-term" placeholder="Search for images here!" class="form-control pull-left">
            </div>
            <button type="submit" class="btn btn-success pull-right">Search</button>
          </form>
        </div>
      </div>

      <div class="container">
        <div class="row well" id="images">
            
        </div>
      </div>
    
  </body>